<a href="https://colab.research.google.com/github/fulup2022/formationpublic/blob/main/Step2_ML_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Variables and functions

In [ ]:
# To find the type
type(1+1.5)

float

In [ ]:
# Concatenate strings can be done using quotation marks
print('Hello' + ' world')

Hello world

In [ ]:
# Varation
name = "Philippe"
age = 10
print("Hello, {}. You are {}".format(name, age))

Hello, Philippe. You are 10

In [ ]:
# Varation using a fstring
print(f"Hello, {name}. You are {age}.")

Hello, Philippe. You are 10.

In [ ]:
# Multiply strings by number
10 * 'Hello'

'HelloHelloHelloHelloHelloHelloHelloHelloHelloHello'

In [ ]:
def concatenate(a, b):
  return str(a) + str(b);

In [ ]:
concatenate(1, 'a')

'1a'

In [ ]:
# The strings are immutable
def testParametre(a):
  a = '12';
  print(a);

toto = '11'
print(toto)
testParametre(toto)
print(toto)

11
12
11

In [ ]:
# Function concatenate_str_nb
def concatenate_str_nb(pNumber, pString):
  try:
    result = str(pNumber) + pString
  except:
    if( (isinstance(pString, str) == False)  or (isinstance(pNumber, float) == False)):
      result = str(pNumber) + str(pString)
  return result

concatenate_str_nb(2, 3)

'23'

In [ ]:
# Third
def concat_number(a, b):
  return '{}{}'.format(a,b);

concat_number(1, 3)

'13'